---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Jyle Vergara</h1>
			<p class="hero__text">
				Product-focused full stack engineer
			</p>
			<Boton href="#" texto="Learn more"/>
		</div>
    <img
		class="hero__img"
		src="/img/headshot.jpg"
		alt="Jyle Vergara"
		width="384"
    	height="384"
	/>
	</div>
</section>
