---
import './hero.css';
import Button from '../atoms/Button.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Jyle Vergara</h1>
			<p class="hero__text">
				I am a product-focused full stack engineer currently based in Toronto, Canada.
			</p>
			<!-- <Button href="#" texto="Learn more"/> -->
		</div>
    <img
		class="hero__img"
		src="/img/headshot.jpg"
		alt="Jyle Vergara"
		width="384"
    	height="384"
	/>
	</div>
</section>
