---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/headshot-2.jpg"
			alt="Jyle Vergara profile photo"
		/>

		<div class="about__content">
			<Title margin="1rem" text="About me" />
			<p class="about__text">
				I’m a Full Stack Engineer with a background in economics and over five years of startup experience. I originally learned to code to help my parents’ small business build an online presence and ended up discovering a passion for solving problems through technology. Since then, I’ve built and scaled platforms from the ground up, automated workflows that save teams hours of manual work, and created tools that help people and businesses grow. My work is driven by curiosity, empathy for users, and a belief that technology should make life easier, not harder.
			</p>
			<!-- <SocialIcons width="25" height="25"/> -->
		</div>
	</div>
</section>
