---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/headshot-2.jpg"
			alt="Jyle Vergara profile photo"
		/>

		<div class="about__content">
			<Title margin="1rem" text="About me" />
			<p class="about__text">
				Hi, I'm Jyle! I'm a self-driven software engineer with several years of experience building web applications across advertising, digital marketing, and influencer marketing. My work ranges from internal tools to platform solutions, always focusing on creating systems that enhance user experience.
			</p>
			<p class="about__text">
				Currently, I specialize in full-stack development using JavaScript, TypeScript, React, and Node.js,  with a strong focus on creating user-friendly applications. When I'm not coding, you can find me exploring new technologies or working on side projects that push my creative boundaries.
			</p>
			<!-- <SocialIcons width="25" height="25"/> -->
		</div>
	</div>
</section>
