---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/headshot-2.jpg"
			alt="Jyle Vergara profile photo"
		/>

		<div class="about__content">
			<Title margin="1rem" text="About me" />
			<p class="about__text">
				I'm a software engineer with over 7 years of experience in web development across advertising, digital marketing, and influencer marketing. With a background in Economics and Computer Programming, I bring a unique blend of technical expertise and business understanding to every project. My work ranges from internal tools to platform solutions, always focusing on creating systems that enhance user experience. 
			</p>
			<!-- <SocialIcons width="25" height="25"/> -->
		</div>
	</div>
</section>
